#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mautrix_signal"
name = "Matrix Signal bridge"
description.en = "Matrix / Synapse puppeting bridge for Signal"
description.fr = "Passerelle Matrix / Synapse pour Signal"

version = "0.8.0~ynh1"

maintainers = ["MayeulC", "nathanael-h"]

[upstream]
license = "AGPL-3.0-or-later"
userdoc = "https://docs.mau.fi/bridges/go/signal/index.html"
code = "https://github.com/mautrix/signal"
fund = "https://github.com/sponsors/tulir"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "arm64"]
multi_instance = true
ldap = "not_relevant"
sso = "not_relevant"
disk = "1G"
ram.build = "128M"
ram.runtime = "128M"

[install]
    [install.synapsenumber]
    ask.en = "Choose the local synapse instance number to communicate with mautrix_signal"
    ask.fr = "Choisissez le numéro de l'instance synapse qui doit communiquer avec mautrix_signal"
    help.en = "If you installed synapse only once time, then leave default value 1."
    help.fr = "Si vous n'avez installé qu'une fois synapse, gardez la valeur par défaut 1."
    type = "string"
    example = "2 (for instance synapse__2)"
    default = "1"

    [install.botname]
    ask.en = "Choose a local synapse user name for the Signal bot"
    ask.fr = "Choisissez un nom d'utilisateur synapse local pour le robot Signal"
    help.en = "A system user will be created. Invite @signalbot:localsynapse.servername from an authorized Matrix account to start bridging. Give the matrix server_name, not the full domain/url."
    help.fr = "Un utilisateur système sera créé. Inviter @signalbot:localsynapse.servername depuis un compte Matrix autorisé pour démarrer une passerelle. Donner le nom du serveur matrix, pas le domaine/url complet."
    type = "string"
    example = "signalbot"
    default = "signalbot"

    [install.bot_synapse_adm]
    ask.en = "Give the Signal bot administrator rights to the Synapse instance?"
    ask.fr = "Donner au robot Signal des droits administrateur à l'instance Synapse ?"
    type = "boolean"
    help.en = "If activated, the bot can group Signal chats in a Matrix space.Not required if you set up Synapse so that non-admins are authorized to create communities."
    help.fr = "Si activé, le robot groupera les conversations Signal dans une communauté Matrix.Pas nécessaire si vous avez réglé Synapse pour qu'il autorise les non-admin à créer des communautés."
    default = true

    [install.encryption]
    ask.en = "Enable end-to-bridge encryption?"
    ask.fr = "Activer le chiffrement entre Synapse et le bridge ?"
    type = "boolean"
    help.en = "Only activate if you know the prerequisites and constraints related to E2B."
    help.fr = "N'activer que si vous connaissez les prérequis et constraintes liées à E2B."
    default = true

    [install.botadmin]
    ask.en = "Choose the Matrix account administrator of the Signal bot"
    ask.fr = "Choisissez le compte Matrix administrateur du robot Signal"
    help.en = "The Signal bot administrator does not need to be a local synapse account."
    help.fr = "Le compte administrateur du robot Signal peut ne pas être un compte local synapse."
    type = "string"
    example = "@johndoe:localsynapse.servername or @johndoe:matrix.org"
    default = "Your main Matrix account"

    [install.botusers]
    ask.en = "Choose Matrix user(s) authorized to bridge with the Signal bot"
    ask.fr = "Choisissez le/les compte(s) Matrix autorisés à utiliser la passerelle Signal"
    type = "string"
    example = "@johndoe:server.name or server.name or *"
    help.en = "A remote or local user (@johndoe:server.name),the local server (server.name), a remote server (matrix.org), or all remote/local servers (*) can be authorized. Give the Matrix server_name, not the full domain/URL. It is also possible to specify multiple values by separating them with comma. Example: @johndoe:server.name,domain.tld,matrix.org"
    help.fr = "Un compte local ou distant (@johndoe:server.name), le serveur local (server.name), un serveur distant (matrix.org), ou tous les serveurs remote/local (*). Donner le nom du serveur Matrix, pas le domaine/URL complet. Il est également possible de spécifier plusieurs valeurs en les séparant par une virgule. Exemple : @johndoe:server.name,domain.tld,matrix.org"

    [install.enable_relaybot]
    ask.en = "Choose whether to enable the relay bot feature"
    ask.fr = "Choisissez si vous souhaitez activer la fonctionnalité de relai par bot"
    help.en = "If enabled, allows to use a single signal account (bot) to forward messages from multiple Matrix users. Messages will appear on Signal as if originating from a single user, with a prefix that indicates who is talking."
    help.fr = "Si activé, permet d'utiliser un seul compte signal (bot) pour transmettre les messages de multiples utilisateurs Matrix. Les messages apparaîtront sur Signal comme envoyés par un seul utilisateur, avec un préfixe indiquant leur auteur."
    type = "boolean"
    default = true

[resources]
    [resources.sources]
    [resources.sources.main]
    in_subdir = false
    extract = false
    rename = "mautrix-signal"
    amd64.url = "https://github.com/mautrix/signal/releases/download/v0.8.0/mautrix-signal-amd64"
    amd64.sha256 = "975278782b5611cc2365ca761ec006c1894cd65f2e01055818c535db0c7c3a55"
    arm64.url = "https://github.com/mautrix/signal/releases/download/v0.8.0/mautrix-signal-arm64"
    arm64.sha256 = "f263214d62d6446b4ca34a9d9e314436ff04de2828d1523179f48245fc1efc04"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^mautrix-signal-amd64$"
    autoupdate.asset.arm64 = "^mautrix-signal-arm64$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.ports]
    main.default = 8449

    [resources.apt]
   packages = "g++, postgresql, ffmpeg"

    [resources.database]
    type = "postgresql"
