[Unit]
Description=Matrix Signal Bridge
After=matrix-synapse.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/bin/python3 -m mautrix_signal

[Install]
WantedBy=multi-user.target
